BEGIN:VEVENT
SUMMARY:{summary}
UID:{uid}
SEQUENCE:{sequence}
STATUS:{status}
TRANSP:TRANSPARENT
RRULE:FREQ=YEARLY;INTERVAL=1;BYMONTH=2;BYMONTHDAY=12
DTSTART:{dtstart}
DTEND:{dtend}
DTSTAMP:{dtstamp}
CATEGORIES:{categories}
LOCATION:{location}
DESCRIPTION:{description}
URL:{url}
END:VEVENT
